.parent{
    height:500px;
    width:500px;
    background-color: red;
    color:black;
    margin: auto;
    
    
}
.parent input{
    margin-left:50px;
}

.child{
    height:300px;
    width:300px;
    background-color:yellow;
    color:black;
    margin: auto;
    margin-top: 20px;
}
.child input{
    margin-left: 20px;
}