.headerImage{
    width:80%;
    height: 20rem;
    margin:10px auto;
    display: flex;
    justify-content: center;
   
}
.headerImage img{
    width:70%;
    height: 95%;
    border-radius: 10px;
    margin: auto;
}

@media only screen and (max-width: 500px)  {
    .headerImage{
        width:95%;
        height: 16rem;
        margin:2px auto;
        display: flex;
        justify-content: center;
       
    }
    .headerImage img{
        width:90%;
        height: 95%;
        border-radius: 10px;
        margin: auto;
    }
    
}